.pokemons{
    text-align: center;
}

.pokemonsCard{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    justify-content: center;
    gap: 10px;
}

.pokemonsCard div{
    border-radius: 13px;
    padding: 9px;
    text-align: center;
    margin: 0 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pokemonsCard div img{
    width: 70px;
    height: 80px;
}

.input {
    width: 200px;
    max-width: 220px;
    height: 35px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
    margin: 20px;
}
  
.input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}
  
.input:active {
    transform: scale(0.95);
}
  
.input:focus {
    border: 2px solid blue;
}